{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        {% if symbolAndShareData | length == 0 %}
        <div class="mb-3">
            <h3>You don't have anything to sell.</h3>
        </div>
        {% else %}
        <div class="mb-3">
            <select autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol">
                <option disabled selected>Select a share</option>
                {% for data in symbolAndShareData %}
                <option value="{{ data["symbol"] }}">{{ data["symbol"] }} ({{ data["totalShares"] }})</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="shares" type="number" min="1">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
        {% endif %}
    </form>
{% endblock %}
