header {
  text-align: center;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

main {
  height: 100%;
}

footer {
  font-size: x-small;
  font-style: italic;
  text-align: center;
  padding: 1.75em;
}

.description {
  margin: 2rem auto;
  max-width: 30rem;
}

.description > p {
  padding: 1.75em 2em;
}

.active {
  color: rgb(28, 28, 92);
  font-weight: 700;
}
